:root{
    --color-p: rgb(16, 16, 16);
    --color-s: rgb(248, 248, 248);
    --color-a: rgb(251, 54, 251);
    --color-x: #cb6ce6;
    --title-font: "Anton", sans-serif;
    --text-font: "Play", serif;
}

.title{
    font-family: var(--title-font);
}

*{
    font-family: var(--text-font);
}


/* NAVBAR */
.logo{
width: 100px;
}

.nav-cus{
    margin: 5vh 10vw;
    border-radius: 10px;
    border: 2px solid var(--color-x);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}



/* HEADER  */
.main-title-box{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-s);
    z-index: 2;
    transform: translate(-50%, -50%);
}

.main-title{
    font-size: calc(30px + 8vw);
    letter-spacing: 2vw;
    text-shadow: 2px 2px 15px var(--color-x);
}

.arrow-anim{
    text-shadow: 2px 2px 15px var(--color-x);
    animation: scroll-down 1.5s alternate infinite ease-in;
}


@keyframes scroll-down {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(50px);
    }
}

.img-carousel-1{
    height: 100vh;
    background: url(./media/joypad.jpg);
    background-position: center;
    background-size: cover;
}
.img-carousel-2{
    height: 100vh;
    background: url(./media/salagiochi.jpg);
    background-position: center;
    background-size: cover;
}
.img-carousel-3{
    height: 100vh;
    background: url(./media/warzone.jpg);
    background-position: center;
    background-size: cover;
}










@media screen and (max-width: 500px) {
    .nav-cus{
        margin: 0px;
        border-radius: 0px;
        border: none;
        border-bottom: 2px solid var(--color-x);
    }
    
}